.main-banner{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: url(../img/Rectangle\ 21.png),url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 430px;
    width: 100vw;
    
    font-family: 'Montserrat';
    color: #F9F9F9;
}
.main-banner h1{

    
    height: 39px;
        
    font-weight: 700;
    font-size: 2rem;
    line-height: 39px;
}
.main-banner p{
    
    
    height: 70px;
   
    font-weight: 600;
    font-size: 1.1rem;
    line-height: 196.19%;
}
@media(max-width:875px){
    .main-banner{
    background-image: url(../img/Rectangle\ 21.png),url(../img/background-\ responsivo.png);
    }
}
@media(max-width:620px){
    .main-banner h1{
        
        font-size: 1.7rem;
    }
    .main-banner p{
    
        font-size: 1rem;
        margin-left: 15px;
    }
}